@font-face {
  font-family: "crimsontext-roman";
  src: url('fonts/crimsontext-roman-webfont.eot');
  src: url('fonts/crimsontext-roman-webfont.eot#iefix') format('embedded-opentype'), url('fonts/crimsontext-roman-webfont.woff') format('woff'), url('fonts/crimsontext-roman-webfont.ttf') format('truetype'), url('fonts/crimsontext-roman-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserrat-regular";
  src: url('fonts/montserrat-regular-webfont.eot');
  src: url('fonts/montserrat-regular-webfont.eot#iefix') format('embedded-opentype'), url('fonts/montserrat-regular-webfont.woff') format('woff'), url('fonts/montserrat-regular-webfont.ttf') format('truetype'), url('fonts/montserrat-regular-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'montserrat-regular';
}
nav.navbar-main .navbar-brand:hover {
  opacity: 0.7;
}
nav.navbar-main .navbar-collapse a {
  font-size: 14px;
  color: #343e5c;
  font-weight: bold;
}
nav.navbar-main .navbar-collapse a:hover {
  color: #7786b2;
}
nav.navbar-main .navbar {
  background-color: white;
}
nav.navbar-main .navbar-btn {
  color: #343e5c;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 44%;
  border-width: 2px;
}
div.postnav a {
  font-size: 14px;
  color: #b9bed1;
  font-size: 11px;
}
div.postnav a:hover {
  color: #343e5c;
}
div.postnav .search-input {
  width: 145px;
}
div.postnav .search-input-control {
  width: 110px;
}
div.postnav .postnav-right {
  float: right;
}
div.postnav ul.postnav-list li.active a {
  background-color: #343e5c;
}
.carousel-main {
  margin-bottom: 0;
}
.carousel-main .item-1 .carousel-caption .h6,
.carousel-main .item-2 .carousel-caption .h6,
.carousel-main .item-3 .carousel-caption .h6 {
  font-weight: bold;
}
.carousel-main .item-1 .carousel-caption .carousel-caption-description,
.carousel-main .item-2 .carousel-caption .carousel-caption-description,
.carousel-main .item-3 .carousel-caption .carousel-caption-description {
  font-family: 'crimsontext-roman';
}
.carousel-main .item-1 .carousel-caption .carousel-caption-text,
.carousel-main .item-2 .carousel-caption .carousel-caption-text,
.carousel-main .item-3 .carousel-caption .carousel-caption-text {
  width: 50%;
}
.carousel-main .panel-footer {
  font-family: 'crimsontext-roman';
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
.carousel-main .panel-footer .carousel-footer-description {
  display: none;
}
.carousel-main .panel-footer p.active {
  display: block;
}
.carousel-main .panel-footer p.pseudo-active {
  display: block;
}
.trade-container {
  background-color: #e4e5e7;
}
.trade-container .trade-menu .ul-sort {
  color: #a1a7bd;
  margin: 15px;
}
.trade-container .trade-menu .ul-sort a {
  color: black;
}
.trade-container .trade-menu .ul-sort .glyphicon {
  color: white;
}
.trade-container .trade-menu .ul-sort ::-webkit-input-placeholder {
  color: black;
}
.trade-container .trade-menu .ul-sort ::-moz-input-placeholder {
  color: black;
}
.trade-container .trade-menu .ul-sort :-moz-placeholder {
  color: black;
}
.trade-container .trade-menu .ul-sort :-ms-input-placeholder {
  color: black;
}
.trade-container .trade-menu .ul-sort > div {
  background-color: white;
}
.trade-container .trade-menu .ul-sort > div > div {
  padding: 10px;
}
.trade-container .trade-menu .ul-sort > div > div:nth-child(odd) {
  padding: 16px;
}
.trade-container .trade-menu .ul-sort > div > div:nth-child(2) {
  border-right: 4px solid #e4e5e7;
  border-left: 4px solid #e4e5e7;
}
.trade-container .trade-menu .ul-sort .price-form {
  width: 50px;
}
.trade-container .trade-menu .ul-sort .free-shopping {
  background-color: #00e2aa;
  padding: 4px;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}
.trade-container .trade-menu .ul-sort .left-ram {
  margin-left: 10px;
}
.trade-container .trade-menu .ul-sort .right-ram {
  margin-right: 10px;
}
.trade-container .trade-menu .ul-sort .form-control {
  margin-right: 5px;
  margin-left: 5px;
}
@media all and (max-width: 991px) {
  nav.navbar-main .navbar-collapse a {
    font-size: 11px;
  }
  nav.navbar-main .navbar-btn {
    border-width: 1px;
    letter-spacing: 0px;
  }
}
@media all and (max-width: 767px) {
  nav.navbar-main .navbar-collapse a {
    font-size: 14px;
  }
  nav.navbar-main .navbar-btn {
    border-width: 2px;
    margin-left: 14px;
  }
}
@media all and (max-width: 660px) {
  .carousel-caption-description {
    display: none;
  }
}
@media all and (max-width: 470px) {
  div.postnav .postnav-right {
    float: none;
  }
  div.postnav .postnav-list {
    margin-top: 5px;
  }
  div.carousel-main .item .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
@media all and (min-width: 500px) {
  div.carousel-caption p.h6 {
    font-size: 18px;
  }
}
@media all and (min-width: 660px) {
  .carousel-footer {
    display: none;
  }
}
@media all and (min-width: 860px) {
  div.carousel-main .item .carousel-caption {
    top: 20px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
  }
  div.carousel-main .item .carousel-caption-text {
    margin-top: auto;
    margin-bottom: auto;
  }
  div.carousel-caption p.h6 {
    font-size: 34px;
  }
  div.carousel-main .item .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
}
@media all and (min-width: 1440px) {
  div.carousel-caption p.h6 {
    font-size: 54px;
  }
  .carousel-caption-description {
    font-size: 20px;
  }
}
